name: medly_app
description: Medly health companion bringing lab insights, AI explanations, and next steps in a pocket doctor experience.
publish_to: 'none'
version: 1.0.0+1
environment:
  sdk: '>=3.3.0 <4.0.0'
  flutter: '>=3.19.0'
dependencies:
  flutter:
    sdk: flutter
  cupertino_icons: ^1.0.8
  google_fonts: ^6.1.0
  flutter_svg: ^2.0.10+1
  file_picker: ^8.0.6
  image_picker: ^1.1.1
  intl: ^0.19.0
  provider: ^6.1.2
  collection: ^1.18.0
  http: ^1.2.1
dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^3.0.2
flutter:
  uses-material-design: true
  assets:
    - assets/images/
    - assets/mock/
